<h3>Create Coupon</h3>

<form action="" method="post">

  <input type="text" name="title" placeholder="Coupon Title">
  <input type="text" name="description" placeholder="Promotion Description">
  <input type="text" name="product" placeholder="Product Number">
  <input type="text" name="discount" placeholder="Discount Amount">
  <input type="text" name="exp_date" placeholder="Expiration Date">
  <input type="submit" value="Create Coupon">

</form>
