<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kate and Isaac's Awesome Ass Coupon Site with 2 Coupons</title>
  </head>
  <body>
    <header>
      <h1> Kate and Isaac's Awesome Coupons </h1>
      <hr>
    </header>
    <%= yield %>
    <footer>
      <hr>
      <p><em>&copy; Kate and Isaac</em></p>
      </footer>
  </body>
</html>
