<h3>Login to Coupons Site!</h3>

<form action="" method="post">

  <input type="text" name="user_name" placeholder="name">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Login">

</form>
